{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;" class="middle mt-3 mb-3">Books</h1>
    <div class="container">
        <div class="row">
            {%  for book in books %}
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <img src="{{ book.cover_pic.url }}" class="card-img-top" alt="{{ book.title }} cover">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'book_detail' id=book.id %}">{{book.title}}</a></h5>
                            <p class="card-text">{{ book.descrption|truncatechars:125 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>                                                                             
    </div>
{% endblock content %}