<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body><div style="background-color: lightblue;">

    <h1>BOOK DETAIL PAGE</h1>                                                                           
    <div class="card text-center">
        <div class="card-header">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <p class="card-text">{{book.descrption}}</p>
          <img class="card-img-bottom" src="{{ book.cover_pic.url}}" alt=" {{ book.title }}">
        </div>
        </div>
      </div>
    </div>
</body>
</html>
